{% extends template.html %}

{% block search %}
{% endblock search %}

    <nav class="navbar navbar-expand navbar-white bg-white" aria-label="Second navbar example">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="bi bi-search"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExample02">
            <form>
              <input class="form-control rounded-pill" type="text" placeholder="Search" aria-label="Search" style="width:300px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" class="bi bi-search-circle ico" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </form>
          </div>
        </div>
      </nav>

      <h4 class="u-text" style="position: absolute; top: 70px; left: 50px;">Portal berita</h4>

      <div class="row row-cols-1 row-cols-md-2 g-8">
        <div class="col">
        <div class="cards-list">
  
        <div class="card">
          <div class="card_image"> <img src="https://picsum.photos/200/300?random=2" /> </div>
          <div class="card_title title-white">
            <p>Card Title</p>
          </div>
        </div>
        
          <div class="card">
          <div class="card_image">
            <img src="https://picsum.photos/200/300?random=2" />
            </div>
          <div class="card_title title-white">
            <p>Card Title</p>
          </div>
        </div>

        <div class="card">
          <div class="card_image"> <img src="https://picsum.photos/200/300?random=2" /> </div>
          <div class="card_title title-white">
            <p>Card Title</p>
          </div>
        </div>
        
          <div class="card">
          <div class="card_image">
            <img src="https://picsum.photos/200/300?random=2" />
            </div>
          <div class="card_title title-white">
            <p>Card Title</p>
          </div>
        </div>

        <div class="card">
          <div class="card_image"> <img src="https://picsum.photos/200/300?random=2" /> </div>
          <div class="card_title title-white">
            <p>Card Title</p>
          </div>
        </div>
        
          <div class="card">
          <div class="card_image">
            <img src="https://picsum.photos/200/300?random=2" />
            </div>
          <div class="card_title title-white">
            <p>Card Title</p>
          </div>
        </div>

        <div class="card">
          <div class="card_image">
            <img src="https://picsum.photos/200/300?random=2f" />
          </div>
          <div class="card_title title-white">
            <p>Card Title</p>
          </div>
        </div>
          
          <div class="card">
          <div class="card_image">
            <img src="https://picsum.photos/200/300?random=2" />
            </div>
          <div class="card_title title-white">
            <p>Card Title</p>
          </div>
          </div>
        
        </div>
    </div>
    </div>
