{% extends "layout.njk" %}

{% block content %}
<section class="slideshow">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img class="card-img-top img-circle rounded-circle" src="https://dummyimage.com/100x100/000/fff" alt="Card image cap">
        <div class="card-block">
        <h4 class="card-title">FitnesTV</h4>
        
        </div>
        <img src="https://picsum.photos/200/300?random=1" class="card-img-down" alt="...">
        <div class="card-body">
          
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img class="card-img-top img-circle rounded-circle" src="https://dummyimage.com/100x100/000/fff" alt="Card image cap">
        <div class="card-block">
        <h4 class="card-title">FitnesTV</h4>
        
        </div>
        
        <img src="https://picsum.photos/200/300?random=1" class="card-img-down" alt="...">
        <div class="card-body">
          
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img class="card-img-top img-circle rounded-circle" src="https://dummyimage.com/100x100/000/fff" alt="Card image cap">
        <div class="card-block">
        <h4 class="card-title">FitnesTV</h4>
        
        </div>
        
        <img src="https://picsum.photos/200/300?random=1" class="card-img-down" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    
  </div>
  
</section>

{% endblock %}